<img [src]='logo' alt="" srcset="" width="50px"><h1>{{storeName}}</h1>
<br>
<br>
<h3>Home</h3>
<br>
<br>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quos iure repellat impedit porro? Tenetur sint suscipit sed et. Animi.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis molestiae veniam debitis exercitationem velit omnis laborum, officiis laboriosam necessitatibus quos quidem cumque accusamus eligendi repudiandae a culpa perspiciatis adipisci? Voluptate.</p>